/* Placement of FAB */
.fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: 400px;
    
  }
  
  
  
 
 


  .hamburger-container {
    position: relative;
    
    
  }
  
  .hamburger {
    width: 256px;
    height: 380px;
    
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: end;
    
  }
  
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
   

    
  background-color: black;
   
    bottom: 32px;
  }

  
  
  

  .menu-bar {
    position: absolute;
    width: 256px;
    height:312px;
   
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 68px;
  }
  
  .close-button {
    align-self: flex-start;
    bottom: 32px;
    right: 32px;
    position: absolute;
  }
  
  .vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
  }

  .menu-bar.row {
    flex-direction: row;
    width: 332px;
    height: 60px;
   
    
  }
  
  .vertical-menu.row {
    flex-direction: row;
      
    width: 332px;
    height: 60px;
    gap: 1px;
    position: relative;
   bottom: -332px;
   right: 80px;

  }

  
  .vertical-menu.row li {
    
  }

  .vertical-menu.row li #title{
    display: none;
  }
  
  .vertical-menu li:nth-child(1) {
   
    display: flex ;
    gap: 16px;
    width: 248px;
    height: 60px;
    position: relative;
    right: -19px;
    
    align-items: center;
  }
  #title1{
    width:172px;
    height: 34px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 4px;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     text-align: center;
  
  }

  
  #img1{
    width: 60px;
    height: 60px;
  }

  .vertical-menu li:nth-child(2) {
   
    display: flex ;
    gap: 16px;
    width: 255px;
    height: 60px;
    position: relative;
    right: -12px;
    align-items: center;

  }
  #img2{
    width: 60px;
    height: 60px;
  }
  #title2{
    width:172px;
    height: 34px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 4px;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     text-align: center;

  
  }

  .vertical-menu li:nth-child(3) {
    
    display: flex ;
    gap: 16px;
    width: 256px;
    height: 60px;
    position: relative;
    right: -10px;
    align-items: center;
  }
  #img3{
    width: 60px;
    height: 60px;
  }
  #title3{
    width:172px;
    height: 34px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 4px;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     text-align: center;
  
  }

  .vertical-menu li:nth-child(4) {
    
    display: flex ;
    gap: 16px;
    width: 209px;
    height: 60px;
    position: relative;
    right: -5px;
    align-items: center;
  }


  #img4{
    width: 60px;
    height: 60px;
  }
  #title4{
    width:172px;
    height: 34px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 4px;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     text-align: center;
  
  }

  @media screen and (max-width: 600px){

    .fab{
      position: absolute;
      bottom: 500px;
      
    }

    .vertical-menu.row {
      flex-direction: row;
      
      width: 336px;
      height: 48px;
      gap: 1px;
      
      padding: 0px, 16px, 0px, 1px;
      position: relative;
     bottom: -335px;
     right: 10px;
  

    }


    .fab-icon{
      margin-right: -40px;
    }

    .vertical-menu li:nth-child(4) {
    
      display: flex ;
      gap: 16px;
      width: 209px;
      height: 60px;
      position: relative;
      right: 8px;
      align-items: center;
    }


    #img1{
      width: 48px;
      height: 48px;
    }
    #img2{
      width: 48px;
      height: 48px;
    }
    #img3{
      width: 48px;
      height: 48px;
    }
    #img4{
      width: 48px;
      height: 48px;
    }
  }
 

